.slider {
    width: 40%;
}
.img-container {
    height: 500px;
    width: 500px;
    border-radius: 10px;
}
.black-overlay {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.811), transparent);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 500px;

}

.card:hover .black-overlay {
    transition-duration: .5s;
    top: 0px;

}

.card:hover .img {
    transform: scale(1.2);
    transition-duration: .5s;
    transition-timing-function: linear;
}
.card:hover .rating {
    opacity: 0;
    transition-duration: .5s;
}
.black {
    margin-top: 400px;
    margin-left: 40px;
}

@media (max-width: 1320px) { 
    .slider {
        width: 80%;
    }
    .img-container {

        height: 500px;
        width: 500px;
        border-radius: 10px;
    }
    .img {
        border-radius: 10px;
        
    }
    .card:hover .black-overlay {
        transition-duration: .5s;
        top: 50px;

    } 
    .black {
        margin-top: 350px;
        margin-left: 40px;
    }

}
    

@media (max-width: 680px) { 
    .slider {
        width: 80%;
    }
    .img-container {
        height: 350px;
        width: 350px;
        border-radius: 10px;
    }
    .img {
        border-radius: 10px;
    }
    .black {
        margin-top: 200px;
        margin-left: 10px;
    }

}
@media (max-width: 480px) { 
    .slider {
        width: 80%;
    }
    .img-container {
        height: 250px;
        width: 250px;
        border-radius: 10px;
    }
    .img {
        border-radius: 10px;
    }
    .card:hover .black-overlay {
        transition-duration: .5s;
        top: 0;
        left: 0;

    } 
    .black {
        margin-top: 140px;
        margin-left: 10px;
    }

}

 