.welcome-text {
    z-index: 1;
    top: 200px;
    right: -50px;
}

.about-btn-effect {
    background: transparent;
    color: #06b6d4;
    border: 1px solid #06b6d4;
    position: relative;
    border-radius: 50px;
}

.doc-container {
    width: 1000px;
    height: 1000px;
}

.welcome {
    overflow-x: hidden;
    height: 1000px;
}

@media (max-width: 1320px) { 
    .welcome {
        height: 700px;
    }
    .welcome-text {
        width: 500px;
        z-index: 1;
        top: 200px;
        left: 550px;
    }
    .doc-container {
        width: 700px;
        height: 700px;
    }
}
@media (max-width: 1000px) { 
    .welcome {
        height: 600px;
    }
    .doc-container {
        width: 600px;
        height: 600px;
        left: -25px;
    }
    .welcome-text {
        width: 350px;
        z-index: 1;
        top: 30px;
        left: 450px;
    }
    .welcome-text h1 {
        font-size: 40px;
    }
    .welcome-text p {
        font-size: 10px;
    }
} 
@media (max-width: 765px) { 
    .welcome {
        height: 400px;
    }
    .doc-container {
        width: 400px;
        height: 400px;
        left: -80px;
    }
    .welcome-text {
        width: 300px;
        z-index: 1;
        top: 30px;
        left: 300px;
    }
    .welcome-text h1 {
        font-size: 30px;
    }
    .welcome-text p {
        font-size: 10px;
    }
} 
@media (max-width: 560px) { 

    .welcome {
        height: 200px;
    }
    .doc-container {
        width: 200px;
        height: 200px;
        left: -80px;
    }
    .welcome-text {
        width: 200px;
        z-index: 1;
        top: 5px;
        left: 200px;
    }
    .welcome-text h1 {
        font-size: 20px;
    }
    .welcome-text p {
        font-size: 8px;
    }

    } 
 