.about-doc-container {
    width: 50%;
    height: 500px;
}

@media (max-width: 1025px) { 
    .about-doc-container {
        width: 100%;
        height: 800px;
        margin-left: 20px;
    }
}
@media (max-width: 900px) { 
    .about-doc-container {
        width: 100%;
        height: 600px;
        margin-left: 20px;
    }
}
@media (max-width: 765px) { 
    .about-doc-container {
        width: 100%;
        height: 600px;
        margin-left: 20px;
    }
}
@media (max-width: 680px) { 
    .about-doc-container {
        width: 100%;
        height: 440px;
        margin-left: 15px;
    }
}
@media (max-width: 480px) { 
    .about-doc-container {
        width: 100%;
        height: 340px;
        margin-left: 14px;
    }
}
@media (max-width: 380px) { 
    .about-doc-container {
        width: 100%;
        height: 240px;
    }
}